//Deal Product Slider


.hot-deal-slider-wrapper{
	.slick-list{
		padding: 0px 15px;
		background: #fff;
	}
	.list-product{
		& .clockdiv{
			   padding: 6px 0 20px;
		 .text-hurryup {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			font-size: 18px;
			color: #222;
			line-height: 1;
			width:110px;
			 @media #{$extra-small-mobile}{
			 	margin: 0 0 20px;
			 }
			span {
				display: block;
				font-size: 13px;
				color: #777777;
				margin-top: 5px;
				padding: 0px;
				text-align: left;
			}
		}
	    	@media #{$tablet-device}{
		    	font-size:14px;
	    	}
			 & span{
			 	display: inline-block;
			 	text-align: center;
			 	margin-left:2px;
				    & p{
				    	display: block;
						text-transform: uppercase;
						font-size: 10px;
						margin-top: 8px;
				    }
				   & span{
					   	&.cdown-1{
							line-height: 42px;
							width: 42px;
							background: #e8e8e8;
							display: block;
							border-radius: 100%;
							-webkit-border-radius: 100%;
							color: #222;
							text-align: center;
							font-weight: 500;
							@media #{$desktop-device}{
								width: 31px;
								height: 31px;
								line-height: 31px;
							}
							@media #{$tablet-device}{
								width: 35px;
								height: 35px;
								line-height: 35px;
							}
							@media #{$large-mobile}{
								width: 35px;
								height: 35px;
								line-height: 35px;
							}
					   	}
				   }
			 } 
			 @media #{$large-mobile}{
		      		display: inline-block;
		      	}
			 @media #{$extra-small-mobile}{
		      		display: block !important;
		      	}
		}
	}
	.slick-active {
	    -webkit-animation: slickZoomIn 1s;
	    -moz-animation: slickZoomIn 1s;
	    -o-animation: slickZoomIn 1s;
	    animation: slickZoomIn 1s;
	}
}


.hot-deal-slider-wrapper-2{
	.slick-list{
		padding: 0px 0px;
		background: #fff;
	}
	.list-product{
		& .clockdiv{
			   padding: 6px 0 20px;
	    	@media #{$tablet-device}{
		    	font-size:14px;
	    	}
			 & span{
			 	display: inline-block;
			 	text-align: center;
			 	margin-left:2px;
				    & p{
				    	display: block;
						text-transform: uppercase;
						font-size: 10px;
						margin-top: 8px;
				    }
				   & span{
					   	&.cdown-1{
							line-height: 42px;
							width: 42px;
							background: #e8e8e8;
							display: block;
							border-radius: 100%;
							-webkit-border-radius: 100%;
							color: #222;
							text-align: center;
							font-weight: 500;
							@media #{$desktop-device}{
								width: 31px;
								height: 31px;
								line-height: 31px;
							}
							@media #{$tablet-device}{
								width: 35px;
								height: 35px;
								line-height: 35px;
							}
							@media #{$large-mobile}{
								width: 35px;
								height: 35px;
								line-height: 35px;
							}
					   	}
				   }
			 } 
			 @media #{$large-mobile}{
		      		display: inline-block;
		      	}
			 @media #{$extra-small-mobile}{
		      		display: block !important;
		      	}
		}
		&:hover {
			.product-inner {
			    box-shadow: none;
			}
		}
		.product-decs{
			p{
				line-height: 24px;
    			margin-top: 21px;
    			margin-bottom: 5px;
			}
			.pricing-meta {
			    margin: 15px 0 5px;
			}
		}
		.cart-btn{
			 a{
			 	&.add-to-curt{
			 		bottom: 80px;
			 		@media #{$desktop-device}{
			 			bottom: 100px;
			 		}
			 	}
			 }
		}
		padding:0;
		ul{
			&.product-flag {
				li{
					left: 5px;
				}
			}
		}
	}
	.slick-active {
	    -webkit-animation: slickZoomIn 1s;
	    -moz-animation: slickZoomIn 1s;
	    -o-animation: slickZoomIn 1s;
	    animation: slickZoomIn 1s;
	}
}

.hot-deal-slider-wrapper-3{
	.slick-list{
		padding: 0px 15px;
		background: #fff;
	}
	.list-product{
		& .clockdiv{
			   padding: 10px 0 10px;
	    	@media #{$tablet-device}{
		    	font-size:14px;
	    	}
			 & span{
			 	display: inline-block;
			 	text-align: center;
			 	margin-left:2px;
				    & p{
				    	display: block;
						text-transform: uppercase;
						font-size: 10px;
						margin-top: 8px;
				    }
				   & span{
					   	&.cdown-1{
							line-height: 42px;
							width: 42px;
							background: #e8e8e8;
							display: block;
							border-radius: 100%;
							-webkit-border-radius: 100%;
							color: #222;
							text-align: center;
							font-weight: 500;
							@media #{$desktop-device}{
								width: 31px;
								height: 31px;
								line-height: 31px;
							}
							@media #{$tablet-device}{
								width: 35px;
								height: 35px;
								line-height: 35px;
							}
							@media #{$large-mobile}{
								width: 35px;
								height: 35px;
								line-height: 35px;
							}
					   	}
				   }
			 } 
			 @media #{$large-mobile}{
		      		display: inline-block;
		      	}
			 @media #{$extra-small-mobile}{
		      		display: block !important;
		      	}
		}
		&:hover {
			.product-inner {
			    box-shadow: none;
			}
		}
		.product-decs{
			    padding: 15px 0px 0px 15px;
			    display: grid;
			    align-items: center;
			    align-self: center;
			p{
				line-height: 24px;
    			margin-top: 21px;
    			margin-bottom: 5px;
			}
			.pricing-meta {
			    margin: 15px 0 5px;
			}
			h2{
				a{
					font-size: 16px;
				}
			}
		}
		.product-inner{
			display: grid;
			grid-template-columns: 50% auto;
			@media #{$small-mobile}{
				grid-template-columns: 100%;
			}
		}
	}
	.slick-active {
	    -webkit-animation: slickZoomIn 1s;
	    -moz-animation: slickZoomIn 1s;
	    -o-animation: slickZoomIn 1s;
	    animation: slickZoomIn 1s;
	}
}
