//Feature Product Style


.list-product{
	.product-inner {
		position:relative;
		padding:0px 15px;
	}
	position: relative;
    background: #fff;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
    padding: 15px 0;
	    .img-block{
	    	position:relative;
	    	& img{
	    	width: 100%;
		    margin: 0;
		    -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
	    	}
	    	& .second-img{
	    	position: absolute;
		    opacity: 0;
		    -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
		    left: 0;
		    max-width: 100%;
		    opacity: 0;
		    position: absolute;
		    top: 0;
	    	}
	   }
	    &:hover{
		   & .product-inner{
		       	z-index: 3;
		       	border-radius:5px;
	    		box-shadow: 0 0 12px 0 rgba(0,0,0,0.05);
		   }
		    & .second-img{
			    opacity: 1;
		    	visibility: visible;
		    }
		    & .add-to-link{
			    opacity: 1;
			    visibility: visible;
			    & a{
				    transform: scale(1);
				    -webkit-transform: scale(1);
				    -moz-transform: scale(1);
				    -ms-transform: scale(1);
				    -o-transform: scale(1);
			    }
		    }
	    }
	   & ul{
		   	&.product-flag{
		   		& li{
			    	color: #fff;
				    font-weight: 400;
				    text-align: center;
				    line-height: 22px;
				    padding: 0px 7px;
				    position: absolute;
				    background: #222;
				    min-width: 46px;
				    left: 0;
				    top: 43px;
				    text-transform: uppercase;
				    font-size: 12px;
				    z-index: 3;
				    border-radius: 3px;
				    -webkit-border-radius: 3px;
				    &.discount{
				    	background-color:$theme-color;
				    }
					&:nth-child(1) {
						top: 15px;
					}
		   		}
		   }
	   }
	   	    & .product-decs{
		     & h2{
			    font-weight: 400;
			    margin: 0;
			    line-height: 1;
			     & a{
			     line-height: 20px;
			    display: block;
			    margin-bottom: 10px;
			    font-weight: 400;
			    font-size: 14px;
			    color:#222;
			    text-transform: capitalize;
				    &:hover{
				    	color:$theme-color;
				     }
			    }
		     }
		     & .rating-product {
				    line-height: 1;
				    font-size: 16px;
				    color: #FAB311;
				    & .ion-android-star{
				    	&.color-gray{
				    		color:#E7E7E7;
				    	}
				    }
				}
		     & .pricing-meta{
		     	-webkit-transition: all 300ms linear;
			    -moz-transition: all 300ms linear;
			    -ms-transition: all 300ms linear;
			    -o-transition: all 300ms linear;
			    transition: all 300ms linear;
		        line-height: 1;
			    margin: 10px 0 5px;
		     	& li{
		     	}
		     	& li.old-price{
				    color: #989898;
				    text-decoration: line-through;
				    font-size: 14px;
				    font-weight: 400;
				    margin-left: 4px;
    				padding-top: 4px;
		     	}
		     	& li.current-price{   
			     	color: #ea1b25;
				    font-size: 18px;
				    font-weight: 500;
		     	}
		     	& li.discount-price{
		     	display: inline-block;
			    vertical-align: top;
			    color: #fff;
			    background: #eb2606;
			    padding: 0 4px;
			    border-radius: 5px;
			    text-align: center;
			    line-height: 20px;
			    height: 20px;
			    font-size: 12px;
			    font-weight: 700;
			    text-transform: capitalize;
			    text-align: center;
			    z-index: 4;
			    margin-left: 2px;
		     	}
		     }
		     padding:20px 5px 15px 5px;
	    }
	    & .add-to-link{
	    	position: absolute;
		    right: 0px;
		    top: 15px;
		    line-height: 1;
		    font-size: 0;
		    visibility: hidden;
		    opacity: 0;
		    backface-visibility: hidden;
		    -webkit-backface-visibility: hidden;
		    -webkit-transition: opacity .3s ease,visibility .3s ease,transform .3s ease;
		    -webkit-transition: opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
		    transition: opacity .3s ease,visibility .3s ease,-webkit-transform .3s ease;
		    transition: opacity .3s ease,visibility .3s ease,transform .3s ease;
		    transition: opacity .3s ease,visibility .3s ease,transform .3s ease,-webkit-transform .3s ease;
		    & li{
		    vertical-align: top;
		    margin-bottom: 10px;
		    -webkit-transition: all 300ms linear;
		    -moz-transition: all 300ms linear;
		    -ms-transition: all 300ms linear;
		    -o-transition: all 300ms linear;
		    transition: all 300ms linear;
		    display:block;
		    }
		    & a{
		    display: inline-block;
		    background: #e8e8e8;
		    color: #272727;
		    padding: 0;
		    border: none;
		    line-height: 43px;
		    height: 43px;
		    width: 43px;
		    border-radius: 100%;
		    padding: 0;
		    font-size: 16px;
		    text-align: center;
		    text-transform: capitalize;
		    transform: scale(0.7);
		    -webkit-transform: scale(0.7);
		    -moz-transform: scale(0.7);
		    -ms-transform: scale(0.7);
		    -o-transform: scale(0.7);
			    &:hover{
			    	background:$theme-color;
			    	color:#fff;
			    }
			    & i{
		    		transition: all 0ms linear;
			    }
		    }
	  }
	  .cart-btn{
	  	position: relative;
	    margin: 0 auto;
	    opacity: 0;
	    z-index:5;
    	-webkit-transition: all 300ms linear;
	    -moz-transition: all 300ms linear;
	    -ms-transition: all 300ms linear;
	    -o-transition: all 300ms linear;
	    transition: all 300ms linear;
	  	& a{
	  		&.add-to-curt{
		    display: inline-block;
		    background: #e8e8e8;
		    color: #272727;
		    padding: 0;
		    border: none;
		    line-height: 43px;
		    height: 43px;
		    width: 43px;
		    border-radius: 100%;
		    padding: 0;
		    font-size: 16px;
		    text-align: center;
		    text-transform: capitalize;
		    transform: scale(0.7);
		    -webkit-transform: scale(0.7);
		    -moz-transform: scale(0.7);
		    -ms-transform: scale(0.7);
		    -o-transform: scale(0.7);
		    left: auto;
		    right: 0px;
		    bottom: 20px;
		    position: absolute;
			    & i{
		    		transition: all 0ms linear;
			    }
			    &:hover{
			    	background-color:$theme-color;
			    	color: #fff;
			    }
	  		}
	  	}
	  }
	  &:hover{
	  	.cart-btn{
		  	opacity:1;
			  	& a{
			  		&.add-to-curt{
			    transform: scale(1);
			    -webkit-transform: scale(1);
			    -moz-transform: scale(1);
			    -ms-transform: scale(1);
			    -o-transform: scale(1);
			  		}
			  	}
		  	}
	  }
}
.feature-area{
	.slick-list {
	    padding: 0px 15px;
	    background: #fff;
	}
		.slick-active {
	    -webkit-animation: slickZoomIn 1s;
	    -moz-animation: slickZoomIn 1s;
	    -o-animation: slickZoomIn 1s;
	    animation: slickZoomIn 1s;
	}
}


.feature-tab-area{
		.nav-tabs {
	    	position: relative;
		    display: block;
		    border-bottom: 1px solid #ebebeb;
		    margin-bottom: 15px;
	    	& li{
	    		a{
	    		    margin: 0;
				    text-transform: capitalize;
				    position: relative;
				    padding-bottom: 20px;
				    display: inline-block;
				    vertical-align: top;
				    font-size: 24px;
				    font-weight: 400;
				    line-height: 1;
				    color: #888;
				    cursor: pointer;
				    margin-right: 35px;
				    -webkit-transition: all 300ms linear;
				    -moz-transition: all 300ms linear;
				    -ms-transition: all 300ms linear;
				    -o-transition: all 300ms linear;
				    transition: all 300ms linear;
	    			&:after{
	    				content: "";
					    position: absolute;
					    left: 0;
					    right: 0;
					    height: 2px;
					    bottom: -1px;
					    background: transparent;
	    			}
	    			&.active{
	    				color:#1d1d1d;
	    				&:after{
					    	background: $theme-color;
	    				}
	    			}
	    			&:hover{
	    				color:#1d1d1d;
	    				&:after{
					    	background: $theme-color;
	    				}
	    			}
	    			@media #{$large-mobile}{
					    font-size:16px;
					    margin-right:20px;
				    }
	    			@media #{$extra-mini-mobile}{
					    font-size:14px;
				    }
	    		}
	    	}
		}
}

.arrival-area{
	.slick-list{
		padding: 0px 15px;
		background: #fff;
	}
}

.arrival-slider{
		.slick-active {
	    -webkit-animation: slickZoomIn 1s;
	    -moz-animation: slickZoomIn 1s;
	    -o-animation: slickZoomIn 1s;
	    animation: slickZoomIn 1s;
	}
}
.arrival-slider-2{
		.slick-active {
	    -webkit-animation: slickZoomIn 1s;
	    -moz-animation: slickZoomIn 1s;
	    -o-animation: slickZoomIn 1s;
	    animation: slickZoomIn 1s;
	}
}

/*===== Slick ZoomIn ======*/

@-webkit-keyframes slickZoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
        opacity: 1;
    }
}
  
@keyframes slickZoomIn {
    from {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3);
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        -moz-transform: scale3d(0.3, 0.3, 0.3);
        -ms-transform: scale3d(0.3, 0.3, 0.3);
        -o-transform: scale3d(0.3, 0.3, 0.3);
    }
    
    50% {
        opacity: 1;
    }
}
