:root {
    --bs-primary: #ea1b25 !important;
}
.page-link {
    color: var(--bs-primary);
}
.page-item.active .page-link {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}
.form-check-input:checked {
    background-color: var(--bs-gray-900);
    border-color: var(--bs-gray-900);
}

.brands-slider .list-product:hover .product-inner {
    z-index: 3;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.05);
    background-color: var(--bs-danger) !important;
    color: var(--bs-white) !important;
}

.brands-slider .list-product:hover .product-inner a {
    color: var(--bs-white) !important;
}

.brands-slider .list-product:hover .product-inner a:hover {
    color: var(--bs-white) !important;
}

/**
*? Add to Cart
**/
.list-product .cart-btn a.add-to-cart {
    display: inline-block;
    background: #e8e8e8;
    color: #272727;
    padding: 0;
    border: none;
    line-height: 48px;
    height: 43px;
    width: 43px;
    border-radius: 100%;
    padding: 0;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    left: auto;
    right: 0px;
    bottom: 20px;
    position: absolute;
}

.list-product .cart-btn a.add-to-cart i {
    -webkit-transition: all 0ms linear;
    transition: all 0ms linear;
}

.list-product .cart-btn a.add-to-cart:hover {
    background-color: #ea1b25;
    color: #fff;
}

.list-product:hover .cart-btn a.add-to-cart {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.hot-deal-slider-wrapper-2 .list-product .cart-btn a.add-to-cart {
    bottom: 80px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .hot-deal-slider-wrapper-2 .list-product .cart-btn a.add-to-cart {
        bottom: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .category-tab-block .product-slider-item .product-layout.list-product .cart-btn a.add-to-cart {
        right: 12px;
    }
}

.category-tab-block .product-slider-item .product-layout.list-product:first-child .cart-btn a.add-to-cart {
    display: inline-block;
    background: #222;
    color: #fff;
    padding: 0 20px;
    border: none;
    line-height: 44px;
    height: auto;
    width: auto;
    border-radius: 5px;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    position: initial;
    text-transform: uppercase;
}

.category-tab-block .product-slider-item .product-layout.list-product:first-child .cart-btn a.add-to-cart:hover {
    background-color: #ea1b25;
    color: #fff;
}

.shop-sidebar-wrap .card .card-header.nochild a:before {
    content: "\f30f" !important;
}

.product-details-content .product-tags li span {
    font-size: .75rem !important;
    font-weight: 800 !important;
}

.product-details-content .product-tags li a {
    font-size: .65rem !important;
}

.product-details-content .product-tags li a:hover {
    font-size: .75rem !important;
}

/**********************************/
/*? Bordered Cards */
/**********************************/
.bordered {
    border-radius: 10px !important;
    border-top: 8px solid !important;
    border-bottom: 8px solid !important;
    border-left: 8px solid !important;
    border-right: 8px solid !important;
}

.bordered-start {
    border-radius: 10px !important;
    border-left: 8px solid;
}

.btn.bordered-start:hover {
    border-left: 10px solid;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.bordered-end {
    border-radius: 10px !important;
    border-right: 8px solid;
}

.btn.bordered-end:hover {
    border-right: 10px solid;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.bordered-top {
    border-radius: 10px !important;
    border-top: 8px solid !important;
}

.btn.bordered-top:hover {
    border-top: 10px solid;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.bordered-bottom {
    border-radius: 10px !important;
    border-bottom: 8px solid !important;
}

.btn.bordered-bottom:hover {
    border-top: 10px solid;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.bordered-primary {
    border-color: var(--bs-primary) !important;
}

.bordered-danger {
    border-color: var(--bs-danger) !important;
}

.bordered-warning {
    border-color: var(--bs-warning) !important;
}

.bordered-success {
    border-color: var(--bs-success) !important;
}

.bordered-info {
    border-color: var(--bs-info) !important;
}

.bordered-dark {
    border-color: var(--bs-dark) !important;
}

.bordered-secondary {
    border-color: var(--bs-secondary) !important;
}

.bordered-pink {
    border-color: var(--bs-pink) !important;
}

.bordered-teal {
    border-color: var(--bs-teal) !important;
}

.bordered-orange {
    border-color: var(--bs-orange) !important;
}

.bordered-yellow {
    border-color: var(--bs-yellow) !important;
}

/** Bordered Buttons **/
.btn-group>.btn.bordered-pink:not([class*=btn-outline-]):not([class*=btn-flat-]):not([class*=btn-gradient-]):not([class*=btn-relief-]):last-child,
.btn-group>.btn.bordered-pink:not([class*=btn-outline-]):not([class*=btn-flat-]):not([class*=btn-gradient-]):not([class*=btn-relief-]):last-of-type {
    border-right-color: var(--bs-pink) !important;
}

.btn-group>.btn.bordered-end:not([class*=btn-outline-]):not([class*=btn-flat-]):not([class*=btn-gradient-]):not([class*=btn-relief-]):first-child,
.btn-group>.btn.bordered-end:not([class*=btn-outline-]):not([class*=btn-flat-]):not([class*=btn-gradient-]):not([class*=btn-relief-]):first-of-type {
    border-top-left-radius: initial !important;
    border-bottom-left-radius: initial !important;
}

.invalid-feedback.show {
    display: block;
}

/**********************************
* Custom Fieldset
**********************************/
fieldset.custom-fieldset {
    border: 1px solid rgba(108, 117, 125, 0.4);
    padding: 0.571rem 1rem;
    margin-bottom: 1.5em;
    border-radius: 0.357rem;
}

legend.custom-fieldset {
    width: unset;
    float: unset;
    padding: 0.2em 0.5em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/*
  * Toastr Custom CSS
*/
#toast-container>div {
    opacity: 1;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    max-width: none;
    border-radius: 0.286rem;
}

#toast-container>div,
#toast-container>div:hover {
    box-shadow: 0 2px 20px 0 rgba(34, 41, 47, 0.08);
}

#toast-container>.toast {
    background-image: none !important;
}

.toast {
    background-color: #fff;
    color: #6e6b7b !important;
}

.toast .toast-close-button {
    color: #6e6b7b;
    font-size: 1.75rem;
    font-weight: 400;
    top: 0;
    right: 0;
    text-shadow: none;
}

.toast .toast-close-button:focus {
    outline: none;
}

.toast .toast-title {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.75;
}

.toast .toast-progress {
    opacity: 1;
}

.toast:before {
    content: '';
    height: 24px;
    width: 24px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    left: 1.25rem;
    background-size: 1rem;
    background-repeat: no-repeat;
    background-position: center;
}

.toast-success .toast-title {
    color: #28c76f;
}

.toast-success .toast-progress {
    background-color: #28c76f;
}

.toast-success:before {
    background-color: #28c76f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23fff' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z' /%3E%3C/svg%3E");
}

.toast-error .toast-title {
    color: #ea5455;
}

.toast-error .toast-progress {
    background-color: #ea5455;
}

.toast-error:before {
    background-color: #ea5455;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23fff' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
}

.toast-info .toast-title {
    color: #00cfe8;
}

.toast-info .toast-progress {
    background-color: #00cfe8;
}

.toast-info:before {
    background-color: #00cfe8;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23fff' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z' /%3E%3C/svg%3E");
}

.toast-warning .toast-title {
    color: #ff9f43;
}

.toast-warning .toast-progress {
    background-color: #ff9f43;
}

.toast-warning:before {
    background-color: #ff9f43;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='%23fff' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z' /%3E%3C/svg%3E");
}

.toast-top-left {
    top: 1.3rem;
    left: 2rem;
}

.toast-top-right {
    top: 1.3rem;
    right: 2rem;
}

.toast-top-center,
.toast-top-full-width {
    top: 1.3rem;
    width: 100% !important;
}

.toast-bottom-left {
    bottom: 1.3rem;
    left: 2rem;
}

.toast-bottom-right {
    bottom: 1.3rem;
    right: 2rem;
}

.toast-bottom-center,
.toast-bottom-full-width {
    bottom: 1.3rem;
    width: 100% !important;
}

@media (max-width: 480px) and (min-width: 241px) {
    #toast-container>.toast:after {
        top: 0.95rem;
    }

    #toast-container>.toast .toast-close-button {
        top: 0;
        right: -1px;
    }

    #toast-container>div {
        width: 20rem;
    }

    .toast-top-left {
        left: 1rem;
    }

    #toast-container.toast-top-center,
    #toast-container.toast-bottom-center {
        right: 1rem;
    }

    #toast-container.toast-top-center>div,
    #toast-container.toast-bottom-center>div {
        width: 20rem !important;
    }

    .toast-top-full-width,
    .toast-bottom-full-width {
        right: 0;
        left: 0;
        width: 93%;
    }

    .toast-top-full-width>div,
    .toast-bottom-full-width>div {
        width: 100%;
    }

    .toast-bottom-left {
        left: 1rem;
        bottom: 0.75rem;
    }

    .toast-bottom-right {
        right: 2.25rem;
        bottom: 0.75rem;
    }

    .toast-bottom-center,
    .toast-bottom-full-width {
        bottom: 0.75rem;
    }
}

/* -------------------------------------
 Timeline
---------------------------------------*/
.timeline {
    width: 100%;
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  .timeline .events {
    position: relative;
    background-color: #606060;
    height: 3px;
    width: 100%;
    border-radius: 4px;
    margin: 5em 0;
   }

  .timeline .events ol {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .timeline .events ul {
    list-style: none;
  }

  .timeline .events ul li {
    display: inline-block;
    width: 24.65%;
    margin: 0;
    padding: 0;
  }

  .timeline .events ul li a {
    font-family: 'Arapey', sans-serif;
    font-style: italic;
    font-size: 1.25em;
    color: #606060;
    text-decoration: none;
    position: relative;
    top: -32px;
  }

  .timeline .events ul li span {
    font-family: 'Arapey', sans-serif;
    font-style: italic;
    font-size: 1.25em;
    color: #606060;
    text-decoration: none;
    position: relative;
    top: -32px;
  }

  .timeline .events ul li a.selected {
    color: var(--bs-success);
  }
  .timeline .events ul li a.cancelled {
    color: var(--bs-primary);
  }

  .timeline .events ul li a:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    right: auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #606060;
    background-color: #fff;
    transition: 0.3s ease;
    transform: translateX(-50%);
  }

  .timeline .events ul li span:after {
    content: '';
    position: absolute;
    bottom: -25px;
    left: 50%;
    right: auto;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 3px solid #606060;
    background-color: #fff;
    transition: 0.3s ease;
    transform: translateX(-50%);
  }

  .timeline .events ul li a:hover::after {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
  }

  .timeline .events ul li a.selected:after {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
  }

  .timeline .events ul li span.selected:after {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
  }
  .timeline .events ul li a.cancelled:after {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .timeline .events ul li span.cancelled:after {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .events-content {
    width: 100%;
    height: 100px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: left;
  }

  .events-content li {
    display: none;
    list-style: none;
  }

  .events-content li.selected {
    display: initial;
  }

  .events-content li h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-weight: 500;
    color: #919191;
    font-size: 2.5em;
  }
